/* crimson-text-regular - latin */
@font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Crimson_Text/CrimsonText-Regular.ttf');
  }
  /* crimson-text-italic - latin */
  @font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Crimson_Text/CrimsonText-Italic.ttf');
  }
  /* crimson-text-600italic - latin */
  @font-face {
    font-family: 'Crimson Text';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Crimson_Text/CrimsonText-BoldItalic.ttf');
  }
  /* crimson-text-700 - latin */
  @font-face {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Crimson_Text/CrimsonText-Bold.ttf');
  }



  /* montserrat-200 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Montserrat/Montserrat-Light.ttf');
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-Medium.ttf');
}
/* montserrat-italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/Montserrat/Montserrat-MediumItalic.ttf');
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-SemiBold.ttf');
}
/* montserrat-500italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf');
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}





