@import 'variables', 'mixins';

#index-page {
  width: 100vw;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .greeting-title {
    text-align: center;
    font-size: 10rem;
    width: 100%;
    user-select: none;

    @include mobile {
      font-size: 8rem;
    }
    @include tablet {
      font-size: 9rem;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

.introduction-wrapper {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  //height: 100vh;
  color: white;
  font-size: 2.5rem;
  line-height: 40%;
  font-weight: 700;
    .intro-text {
      text-align: center;
      @include mobile {
        text-align: left;
      }
      width: 100%;
      user-select: none;
      cursor: default;
      .single-letter {
        display: inline-block;
        transform-origin: 50% 120%;

        line-height: 100%;
        overflow: hidden;
      }
      .hovered {
        animation-name: stretch;
        animation-duration: 0.15s;
        animation-timing-function: linear;
        animation-fill-mode: forwards

      }

      .unhovered {
        animation-name: stretch-back;
        animation-duration: 0.25s;
        animation-timing-function: linear;
      }

      a {
        color: rgb(236, 120, 107);
        // animation-name: colors;
        // animation-duration: 1.5s;
        // animation-iteration-count: infinite;
        display: inline-block;
        width: 100%;
      }
    }
}

.full-height-page {
  height: 100vh;
  width: 100%;
  background-color: #FFCFBE;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#background-canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@keyframes wave {
  from { transform : translateY(0); }
  to   { transform : translateY( 15px ); }
}

.title span {
  display: inline-block;
  animation-name: wave;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.scroll-indicator {
  color: white;
  width: 2px;
  background-color: white;
  height: 4rem;
  position: absolute;
  bottom: 0;
  right: 50%;

  div {
    font-weight: 800;
    font-size: 1.5rem;
    position: absolute;
    top: -40%;
    display: inline-block;
    transform: translateX(-45%);
    //animation: scrollIndicatorMove 2s infinite;
  }
}

@keyframes scrollIndicatorMove {
  from,
  0% {
  }

  25% {
    transform: translateY(10px);
  }
  50% {

    transform: translateX(0);
  }

  75% {
    transform: translateY(10px);
  }
  100% {

  }
}

@keyframes colors {
  from,
  0% {
    color: rgb(231,185,176);
  }
  50% {
    color: darken(rgb(231, 154, 139), 3%);
  }
  100% {
    color: rgb(231,185,176);
  }
}


@keyframes stretch {
  from,
  0% {

  }

  40% {
    transform: scale(1, 1.35);
  }

  100% {
    transform: scale(1, 1.2);
  }
}

@keyframes stretch-back {
  from,
  0% {
    transform: scale(1, 1.2);
  }

  33% {
    transform: scale(1, 1);
  }

  66% {
    transform: scale(1, 1.08);
  }

  100% {
    transform: scale(1, 1);
  }
}

