@import 'variables', 'mixins';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#projects-page {
    width: 100vw;
    height: 100vh;
    background: white;
    color: black;
    position: relative;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: center;

    color: lighten(black, 15%);
    
    &.background {
        background: white;
    }

    .slider-wrapper {
        width: 100%;
        height: 100%;
        
        .slick-slider {
            height: 100%;
            
            .slick-list {
                height: 100%;
                
                .slick-track {
                    height: 100%;
                    
                    div {
                        height: 100%;
                        
                    }
                }
            }
        }
        .slide-container {
            position: relative;

            a {
                display: block;
                height: 100%;
                display: flex;
                align-items: center;
            }

            img {
                margin: auto 0;
                max-height: 100%;
                @include mobile {
  
                }
                @include tablet {
           
                }
                display: block;
                margin: auto;
                transition: opacity 0.2s;
            }
            .out-of-focus {
                filter: opacity(20%);
            }

            .project-caption {
                z-index: 1000;
                position: absolute;
                top: 20%;
                
                pointer-events: none;

                @include mobile {
                    display: none;
                }
                @include tablet {
                    display: none;
                }
                
                .project-title {
                    
                    display: inline-block;
                    
                    line-height: 80%;
                    font-size: 6rem;
                    
                    margin: 0;
                    font-weight: 700;
                    

                }
                .project-description {
                    font-size: 0.8rem;
                    font-family: $secondary-font;
                    font-style: italic;
                    line-height: 0.9rem;
            
                }
            }

            .mobile-project-caption {
                @include desktop {
                    display: none;
                }
                @include large-desktop {
                    display: none;
                }
                z-index: 1000;
                position: absolute;
                top: 25%;
                width: 100%;
                
                
                pointer-events: none;


                .project-title {

                    text-align: center;
                    display: block;
                    
                    line-height: 80%;
                    font-size: 4rem;
                    @include tablet {
                        font-size: 2.9rem;
                    }
                    margin: 0 auto;
                    font-weight: 700;
                    

                }
                .project-description {
                    display: block;
                    text-align: center;
                    font-size: 0.9rem;
                    @include tablet {
                        font-size: 0.8rem;
                        width: 90%;
                        margin: 0 auto;
                    }
                    font-family: $secondary-font;
                    font-style: italic;
                    line-height: 0.9rem;
            
                }
            }
        }
        

     
        .slick-arrow {
            background: white;

            &:hover {
                &::before {
                    opacity: 0.75;
                }
            }
        }

        .slick-arrow::before {
            color: black;
            font-size: 2rem;
            position: absolute;
            top: 0;
            opacity: 1;
            transform: scale(0.15);
            transform-origin: 50% 0;
            z-index: 10000000000000;
        }
        .slick-prev {
            z-index: 1;
        }
        .slick-prev::before {
            content: url('../images/arrow-prev.png');
            right: -500%;
        }
        
        .slick-next::before {
            content: url('../images/arrow-next.png');
            left: -500%;
        }
      
        .slick-dots {
            // width: 10rem;
            // height: 15px;
            // display: flex;
            // justify-content: space-between;
            bottom: 2rem;
            
            position: absolute;
            li {
                width: 0.8rem;
                height: 0.8rem;
                border: 0.09rem solid black;
                border-radius: 50%;
                transition: 0.4s;

                &.slick-active {
                    background: black;
                }

                button::before {
                    content: ''
                }
            }


        }


    }


    .dots {
        position: absolute;
        bottom: 2rem;
        left: calc(50% - 5rem);
        width: 10rem;
        height: 15px;
        display: flex;
        justify-content: space-between;
        
        
        .dot {
            width: 0.6rem;
            height: 0.6rem;
            border: 0.09rem solid black;
            border-radius: 50%;
            transition: 0.4s;
        }
        .active {
            background: black;
        }

        &.nonslick {
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
    }


}