@import 'variables', 'mixins';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#projects-page {
    width: 100vw;
    height: 100vh;
    background: white;
    color: black;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: lighten(black, 15%);
    
    &.background {
        background: white;
    }

    .slider-wrapper {
        width: 100vw - 16.66vw - 4vw;
        
        .slide-container {
            position: relative;
            img {
                width: 14rem;
                display: block;
                margin: auto;
                transition: opacity 0.2s;
            }
            .out-of-focus {
                filter: opacity(20%);
            }

            .project-caption {
                z-index: 1000;
                position: absolute;
                top: 3rem;
                
                pointer-events: none;
                
                .project-title {
                    
                    display: inline-block;
                    
                    line-height: 80%;
                    font-size: 6rem;
                    
                    margin: 0;
                    font-weight: 700;
                    

                }
                .project-description {
                    font-size: 0.8rem;
                    font-family: $secondary-font;
                    font-style: italic;
                    line-height: 0.9rem;
            
                }
            }

        }
        

     
        .slick-arrow {
            background: white;

            &:hover {
                &::before {
                    opacity: 0.75;
                }
            }
        }

        .slick-arrow::before {
            color: black;
            font-size: 2rem;
            position: absolute;
            top: 0;
            opacity: 1;
            transform: scale(0.15);
            transform-origin: 50% 0;
        }

        .slick-prev::before {
            content: url('../images/arrow-prev.png');
            right: -200%;
        }
        
        .slick-next::before {
            content: url('../images/arrow-next.png');
            left: -200%;
        }
      
        .slick-dots {
            // width: 10rem;
            // height: 15px;
            // display: flex;
            // justify-content: space-between;

            li {
                width: 0.6rem;
                height: 0.6rem;
                border: 0.09rem solid black;
                border-radius: 50%;
                transition: 0.4s;

                &.slick-active {
                    background: black;
                }

                button::before {
                    content: ''
                }
            }


        }


    }


    .dots {
        width: 10rem;
        height: 15px;
        display: flex;
        justify-content: space-between;
        
        
        .dot {
            width: 0.6rem;
            height: 0.6rem;
            border: 0.09rem solid black;
            border-radius: 50%;
            transition: 0.4s;
        }
        .active {
            background: black;
        }

        &.nonslick {
            @include mobile {
                display: none;
            }
            @include tablet {
                display: none;
            }
        }
    }


}