@import 'variables', 'mixins';

#project-page {
    width: 100vw;
    

    &.background {
        background: white;
    }

    .project-cover {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center;
        cursor: pointer;

        .scroll-indicator {
            width: 0;
            height: 4rem;
            border: 1px solid black;
            position: absolute;
            bottom: 0;
            right: 10%;
            div {
                font-weight: 800;
                font-size: 1.5rem;
                position: absolute;
                top: -30%;
                left: 0;
                transform-origin: center left;
                transform: rotate(-90deg);
                
                span {
                    display: inline-block;
                    animation: move 2s infinite;
                }
            }
        }
        @keyframes move {
            from,
            0% {
                // opacity: 0;
            }

            25% {
                transform: translateX(10px);
            }
            50% {
                // opacity: 1;
                transform: translateX(0);
            }

            75% {
                transform: translateX(10px);
            }
            100% {
                // opacity: 0;
            }
        }
    }

    section.center {
        display: flex;
        @include mobile {
            align-items: center;
            min-height: 100vh;
        }
        @include tablet {
            height: 100vh;
        }
        @include desktop {
            height: 100vh;
            align-items: center;
        }
        @include large-desktop {
            height: 100vh;
            align-items: center;
        }
        .project-info {
            @include mobile {
                flex-direction: column;
                align-items: center;
                padding-top: 5rem;
                padding-bottom: 2rem;
            }
            @include tablet {
                flex-direction: column;
                align-items: center;
                padding-top: 6rem;
                // padding-bottom: 1rem;
            }
            display: flex;
            height: 70%;
            .title-section {
                @include mobile {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                @include tablet {
                    width: 100%;
                    margin-bottom: 2rem;
                }
                @include desktop {
                    width: 50%;
                }
                @include large-desktop {
                    width: 50%;
                }
                font-family: $primary-font;
                .title {
                    font-size: 5rem;
                    @include mobile {
                        font-size: 3.5rem;
                    }
                    @include tablet {
                        font-size: 4rem;
                    }
                    font-weight: 700;
                    margin: 0;
                    
                }
                .year {
                    font-size: 2rem;
                    font-style: italic;
                }
                
            }
            .description-section {
                width: 50%;
                @include mobile {
                    width: 100%;
                }
                @include tablet {
                    width: 100%;
                }
                display: flex;
                flex-direction: column;
                

                .subtitle {
                    font-family: $primary-font;
                    font-size: 1.6rem;
                    font-weight: 200;
                }
                .paragraphs {
                    font-family: $secondary-font;
                    font-size: 0.7rem;
                    @include mobile {
                        font-size: 0.9rem;
                    }
                    @include tablet {
                        font-size: 0.9rem;
                    }

                    div {
                        margin-bottom: 1rem;
                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .project-gallery {


        .one-photo {
            // height: 100vh;
            width: 100vw;
            overflow: hidden;
            margin-bottom: 2rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%; 
                margin: 0;
            }
        }

        .two-photos {
            display: flex;
            justify-content: space-between;
            .photo {
                width: calc(50% - 1rem);
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                }          
            }
        }

        .four-photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .photo {
                width: calc(50% - 1rem);
                height: 50%;
                overflow: hidden;
                
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        // &>div:last-child {
        //     margin-bottom: 0;
        // }
    }

    .project-bottom {
        background-size: cover;
        background-position: center;
        background-color: transparent;
        .background {
            height: 100vh;
            background: white;
            transition: opacity 2s;
            &.active {
                
                mix-blend-mode: lighten;
                .title {
                    
                    transform: scale(1.1);
                }
                
                
            }
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            
            .next-project {
                height: 80%;
                display: flex;
                justify-content: center;
                align-items: center;
                @include mobile {
                    flex-direction: column;
                    justify-content: center;
                }
                @include tablet {
                    flex-direction: column;
                }
                transition: transform 1s;
                &.active {
                    
                    .title {
                        transition: transform 1s;
                        font-size: 5rem;
                        transform: scale(1.5, 1.5);
                    }
                    
                }
                
                .wrapper {
                    position: relative;
                    @include mobile {
                        margin-bottom: 3.5rem;
                        
                    }
                    @include tablet {
                        margin-bottom: 3.5rem;
                    }
                    h1.title {    
                        font-size: 6.3rem;   
                        @include mobile {
                            
                            font-size: 5rem;   
                            text-align: center;
                        }
                        @include tablet {
                            font-size: 4.4rem;   
                        }
                        cursor: pointer; 

                    }
        
                    span.subtitle {
                        font-family: $secondary-font;
                        font-size: 0.7rem;
                        @include mobile {
                            font-size: 0.9rem; 
                        }
                        @include tablet {
                            font-size: 1rem;   
                        }
                        font-weight: 200;
                        font-style: italic;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        cursor: pointer;
                    }
                }
                span.see-next {
                    font-size: 2rem;
                    @include mobile {
                        font-size: 1.8rem;
                    }
                    @include tablet {
                        font-size: 1.8rem;
                        bottom: 45%;
                        right: 25%;
                    }
                    @include desktop {
                        position: absolute;
                        bottom: 40%;
                        right: 20%;
                    }
                    @include large-desktop {
                        position: absolute;
                        bottom: 40%;
                        right: 20%;
                    }
                    cursor: pointer;
                }
    
                h1, span {
                    transition: 2s;
                }
            
            }
         
            .center {
                // position: absolute;
                z-index: 10000;
                height: 8%;
                border-top: 1px solid black;
                .footer {
                    font-family: $secondary-font;
                    // font-weight: 200;
                    font-size: 0.5rem;
                    
                }
            }
            overflow: hidden;
            // .transition-circle {
            //     position: absolute;
            //     top: -100vh;
            //     left: -100vh;
            //     background: black;
            //     width: 0;
            //     height: 0;
            //     border-radius: 50%;
            //     transition: 2s;
            //     pointer-events: none;
            //     transform-origin: 50% 50%;
            //     &.active {
            //         top: -100vh;
            //         left: -100vh;
            //         width: 400vh;
            //         height: 400vh;
            //     }
            // }
        }
        
    }

}